@font-face {
  font-family: "Georgia";
  src: url("../webfonts/Georgia.eot");
  src: url("../webfonts/Georgia.eot?#iefix") format("embedded-opentype"),
    url("../webfonts/Georgia.woff2") format("woff2"),
    url("../webfonts/Georgia.woff") format("woff"),
    url("../webfonts/Georgia.ttf") format("truetype"),
    url("../webfonts/Georgia.svg#Georgia") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Arial";
  src: url("../webfonts/Arial.eot");
  src: url("../webfonts/Arial.eot?#iefix") format("embedded-opentype"),
    url("../webfonts/Arial.woff2") format("woff2"),
    url("../webfonts/Arial.woff") format("woff"),
    url("../webfonts/Arial.ttf") format("truetype"),
    url("../webfonts/Arial.svg#Arial") format("svg");
  font-style: normal;
  font-weight: normal;
}
